Borgia/borgia/borgia/settings.py
Borgia/borgia/modules/data_sales.json
.gitignore
Borgia/borgia/modules/data_sales copy.json
Borgia/borgia/modules/data_post_create_cat.json
Borgia/borgia/modules/data_post_update_cat.json
Borgia/borgia/myfile.txt
Borgia/borgia/shops/data_post_shop_create copy.json
Borgia/borgia/shops/data_post_shop_create.json
Borgia/borgia/modules/data_post_create_cat.json
